<!DOCTYPE html>

<html>
<head>
    <title>Index1</title>
    <link href="static/style.css" rel="stylesheet"/>
</head>
<body>
    <form method="POST">
        <p><input class="form1" type="number" name="a" min="0" max="15" placeholder="フリーウェイト" required ></p>
        <p><input class="form2" type="number" name="b" min="0" max="15" placeholder="マシン" required></p>
        <p><input class="form3" type="number" name="c" min="0" max="15" placeholder="有酸素" required></p>
        <p><input class="form4" type="number" name="d" min="0" max="15" placeholder="ストレッチ" required></p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
